<ion-view view-title="room">
<ion-content>

<div class="list chat">

	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	<a class="item" href="#">
		<div class="item-avatar">
			<img src="http://lorempixel.com/50/50/">
		</div>
		<div>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, neque beatae deleniti nostrum autem accusantium, dolore quisquam sunt quae placeat obcaecati animi iure aperiam sit excepturi</p>
			<span><i class="icon ion-clock"></i> 16:12</span>
		</div>
	</a>
	

</div>

</ion-content>

<div class="bar bar-footer bar-stable">
	<label class="item-input-wrapper">
		<input type="search" placeholder="Write your message here...">
	</label>
	<button class="button button-clear vlada">
		SEND
	</button>
</div>   
</ion-view>
